html
    head
        title Synchronizer
        script(src='/jquery.min.js' type='text/javascript')
        script(src='/Dropbox-sdk.min.js' type='text/javascript')
        script(src='/views-index.js' type='text/javascript')
        link(rel='StyleSheet' href='/styles.css' type='text/css')
    body
        div(id='blanket')
        div(id='ajax-loader')
        h1 Welcome to use a service that backups your files from dropbox to sendspace!
        div(class='inline')
            form(action='/dbauth' id='dropbox-form')
                div: button(type='submit') Authenticate with dropbox!
                if dbauth
                    p Dropbox authentication successful!
            form(id='sendspace-form')
                div
                    span Sendspace email
                    input(type='textfield' name='user')
                div
                    span Sendspace password
                    input(type='password' name='password')
                div
                    input(type='hidden' name='dbaccesstoken' value=dbaccesstoken)
            button(id='sync-start') Start synchronizing!
        div(class='inline')
            p(id='response')= error